.paint-card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#toastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast:not(.show) {
    display: flex;
    align-items: center;
}

.toast {
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes moveleft {
    100%{
        transform: translateX(0);
    }
}

.toast i {
    margin: 0 20px;
    font-size: 45px;
    color: green;

}

.toast.error i {
    color: red;
}

.toast:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 6s linear;
    animation-fill-mode: forwards;
}

@keyframes anim {
    100%{
        width: 0;
    }
}

.toast.error:after {
    background: red;
}

#message {
    display: none;
}